<div class="datatable-container">
  <div class="header-tools">
    <div class="tools">
      <ul>
        <li><button routerLink="/create"><i class="fas fa-plus"></i></button></li>
      </ul>
    </div>
    <div class="search">
      <input type="text" class="search-input">
    </div>
  </div>

<!-- Iniciaremos la parte de la tabla -->


  <table class="datatable" *ngIf="notes.length > 0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let note of notes'>
        <td>{{ note.title }}</td>
        <td>{{ note.note }}</td>
        <td>
          <i class="fas fa-edit" [routerLink]="['/edit/', note.id]"></i>
          <i class="fas fa-trash-alt" (click)="deleteNotes(note.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

